.team {
    background: #F5F4FA;
    padding-top: 94px;
}
.team__section_title {
    margin-bottom: 50px;
}
    
.team__item_description {
    padding-top: 30px;
    padding-bottom: 30px;
}
    
.team__list {
    display: flex;
}
    
.team__list p {
    text-align: center;
    color: var(--main-text-color);
}
    
.team__item_name {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    padding-bottom: 10px;
    font-weight: 500;
}
    
.team__item_profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
    
    
.team__list .team__item {
    border-radius: 3px;
    background: var(--common-bg-color);
    box-shadow: var(--card-shadow);
    overflow: hidden;
}
    
.team__list .team__item + .team__item {
    margin-left: 30px;
}